@model IEnumerable<Blog.Models.Post>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<div class="row">
    <div class="col-md-8">

        @foreach (var post in Model)
        {
            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">@post.Title</h2>
                    <p class="card-text">@post.Text</p>
                    <a href="#" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on @post.Created_at by
                    <a href="#">Start Bootstrap</a>
                </div>
            </div>

        }
    </div>

    <div class="col-md-4">

    </div>

</div>

